.ticketFilm {
  .filmsTickets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    flex-wrap: wrap;
    word-break: break-word;
    .filmsTickets-container {
      max-width: 150px;
      margin-bottom: 20px;
      p {
        margin-bottom: 4px;
      }
    }
    img {
      transition: transform 0.3s ease;
      transform: scale(100%);
      &:hover {
        transform: scale(105%);
      }
    }
  }
}